*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 1rem;
  color: #444;
}

#root {
  max-width: 55vw;
  margin: 2rem auto;
  padding: 0 1rem;
}

form {
  display: flex;
  margin-bottom: 2rem;
}

select,
[type="text"],
button {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: 2px solid #ccc;
  border-radius: 4px;
}
select {
  color: #222;
}

button {
  cursor: pointer;
  background: #007bff;
  color: white;
  border: 2px solid #007bff;
  margin: 0 0.5rem;
}

[type="select"]:active,
[type="select"]:focus,
[type="text"]:active,
[type="text"]:focus {
  outline: 0;
  border: 2px solid #007bff;
}

[type="checkbox"] {
  margin-right: 1rem;
  font-size: 2rem;
}

h1 {
  color: #222;
  text-align: center;
}

ul {
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #f4f4f4;
  border-radius: 4px;
}
#due,
li span {
  display: inline-block;
  padding: 0.5rem;
  width: 250px;
  border-radius: 4px;
  border: 2px solid transparent;
}
#due:hover,
li span:hover {
  background: rgba(179, 215, 255, 0.52);
}
#due:focus,
li span:focus {
  outline: 0;
  border: 2px solid #007bff;
  background: rgba(179, 207, 255, 0.52);
}

.priority {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

.todo-list {
  width: 50vw;
}

/* tool tip */
.tool-tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tool-tip .tool-tip-text {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -60px;

  opacity: 0;
  text-transform: lowercase;
  transition: opacity 0.3s;
}

.tool-tip .tool-tip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%;
  margin-left: -5px;
  border-width: 5px;
  border-style: 5px;
  border-color: #555 transparent transparent transparent;
}
.tool-tip:hover .tool-tip-text {
  visibility: visible;
  opacity: 1;
}
